* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	font-family: "Ubuntu", sans-serif;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(images/bg-pattern-intro-desktop.svg),
		linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	height: 65vh;
	font-family: "Ubuntu", sans-serif;
	border-bottom-left-radius: 80px;
}
.mainnav {
	display: flex;
	align-items: center;
	width: 100%;
	margin-left: 10rem;
	margin-top: -10rem;
}
.mainmenu {
	display: flex;
	width: 100%;
}
.mainUl {
	display: flex;
	align-items: center;
	width: 60%;
	margin-left: 5rem;
}
.mainUl li,
.mainUl ul,
.mainUl a {
	list-style: none;
	text-decoration: none;
	margin-right: 1rem;
	color: hsl(0, 0%, 100%);
}
.form {
	width: 30%;
}
.product {
	background-image: url(images/icon-arrow-light.svg);
	background-repeat: no-repeat;
	background-position: 61px 8px;
}
.company {
	background-image: url(images/icon-arrow-light.svg);
	background-repeat: no-repeat;
	background-position: 71px 8px;
}
.connect {
	background-image: url(images/icon-arrow-light.svg);
	background-repeat: no-repeat;
	background-position: 63px 8px;
}
.productDropdown {
	display: none;
	flex-direction: column;
	margin-bottom: -8rem;
	margin-top: 2rem;
	background-color: #ffff;
	margin-left: 1rem;
	border-radius: 10px;
}
.productDropdown a {
	margin-left: 2rem;
	color: hsl(207, 13%, 34%);
}
.productDropdown a:hover {
	margin-left: 3rem;
	color: hsl(237, 17%, 21%);
	font-weight: 700;
}
.companyDropdown {
	display: none;
	flex-direction: column;
	margin-bottom: -7rem;
	margin-top: 2rem;
	background-color: #ffff;
	margin-left: 1rem;
	border-radius: 10px;
}
.companyDropdown a {
	margin-left: 2rem;
	color: hsl(207, 13%, 34%);
}
.companyDropdown a:hover {
	margin-left: 3rem;
	color: hsl(237, 17%, 21%);
	font-weight: 700;
}
.connectDropdown {
	display: none;
	flex-direction: column;
	margin-bottom: -6rem;
	margin-top: 2rem;
	background-color: #ffff;
	margin-left: 1rem;
	border-radius: 10px;
}
.connectDropdown a {
	margin-left: 2rem;
	color: hsl(207, 13%, 34%);
}
.connectDropdown a:hover {
	margin-left: 3rem;
	color: hsl(237, 17%, 21%);
	font-weight: 700;
}
.form ul,
.form li,
.form a {
	list-style: none;
	text-decoration: none;
	margin-right: 1rem;
	color: hsl(0, 0%, 100%);
}
.ulForm {
	display: flex;
	margin-top: 1rem;
}
.register {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15vh;
	height: 4vh;
	margin-top: -0.5rem;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;
	cursor: pointer;
}
.register a {
	color: hsl(356, 100%, 66%);
}
.register li:hover {
	color: hsl(0, 0%, 100%);
}
.register:hover,
.register a:hover {
	background-color: hsl(355, 100%, 74%);
	color: hsl(0, 0%, 100%);
}
.ham {
	display: none;
	background-image: url(images/icon-hamburger.svg);
	background-size: cover;
	width: 20px;
	height: 20px;
}
.underNav {
	margin-top: 9rem;
	color: hsl(0, 0%, 100%);
	text-align: center;
	margin-bottom: -6rem;
}
.underNav h1 {
	font-family: "Ubuntu", sans-serif;
	font-size: 50px;
}
.startFree {
	margin-top: 5rem;
	width: 15vh;
	height: 5vh;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	background-color: hsl(0, 0%, 100%);
	color: hsl(356, 100%, 66%);
	font-weight: 600;
	margin-right: 1rem;
}
.startFree:hover {
	background-color: hsl(355, 100%, 74%);
	color: hsl(0, 0%, 100%);
}
.learnMore {
	margin-top: 5rem;
	width: 15vh;
	height: 5vh;
	border-radius: 25px;
	border: 1px solid hsl(0, 0%, 100%);
	background-color: rgba(255, 0, 0, 0);
	cursor: pointer;
	color: hsl(0, 0%, 100%);
	font-weight: 600;
}
.learnMore:hover {
	background-color: hsl(0, 0%, 100%);
	color: hsl(355, 100%, 74%);
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	font-family: "Overpass", sans-serif;
}
.maincontent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Overpass", sans-serif;
	width: 100%;
	margin-top: 4rem;
}
.maincontent h2,
.maincontent h3,
.rightbottom h4 {
	color: hsl(208, 49%, 24%);
	font-family: "Overpass", sans-serif;
}
.firstcontent {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 85vh;
}
.leftmain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	gap: 30px;
}
.rightmain {
	display: flex;
	width: 25%;
}
.firstPicture {
	height: fit-content;
	position: relative;
	left: 35%;
	align-self: center;
}
.undermain {
	width: 100%;
	height: 45vh;
	display: flex;
	background-image: url(images/bg-pattern-circles.svg),
		linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
	background-repeat: no-repeat;
	background-position: -24vh -48vh, 0px 0px;
	border-bottom-left-radius: 108px;
	border-top-right-radius: 120px;
	margin-top: 8rem;
}
.leftunder {
	margin-top: -4rem;

	margin-left: 7rem;
}
.rightuner {
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4rem;
	width: 40%;
	gap: 20px;
}
.rightuner h3 {
	font-size: 40px;
}
.rightuner p {
	width: 70%;
	line-height: 25px;
}
.bottom {
	display: flex;
	align-items: center;
	margin-top: 10rem;
}
.bottomPicture {
	margin-left: -17rem;
}
.rightbottom {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 50%;
}
.rightbottom p {
	color: hsl(207, 13%, 34%);
	width: 70%;
	text-align: left;
}
footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10rem;
	background-color: hsl(240, 10%, 16%);
	height: 50vh;
	border-top-right-radius: 120px;
}
footer ul,
footer a,
footer li {
	list-style-type: none;
	text-decoration: none;
	color: hsl(240, 2%, 79%);
	padding: 10px;
	margin-left: -10px;
}
.footermenu {
	display: flex;
	width: 50%;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.menuF {
	display: flex;
	gap: 106px;
	margin-bottom: -12rem;
}

.menuF a {
	margin-bottom: 5rem;
}
.conn,
.comp,
.prod {
	font-weight: 600;
	color: hsl(0, 0%, 100%);
}
.attribution {
	font-size: 15px;
	text-align: center;
	width: 50%;
	color: hsl(240, 2%, 79%);
}
.attribution a {
	color: hsl(356, 100%, 66%);
}
.fot a:hover {
	text-decoration: underline;
}
.menuMob {
	display: none;
}
/* Mobile  */
@media screen and (max-width: 700px) {
	.mainmenu {
		display: none;
	}
	.mainnav {
		display: flex;
		align-items: center;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		justify-content: space-around;
	}
	.closeHam {
		display: block;
	}
	.mobUl {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		width: 100%;
	}
	.menuMob {
		position: absolute;
		display: flex;
		width: 90%;
		height: 80%;
		top: 15%;
		left: 5%;
		gap: 20px;
		background-color: hsl(0, 0%, 100%);
		flex-direction: column;
		border-radius: 10px;
		border: 1px solid black;
		align-items: center;
		justify-content: space-around;
	}
	.mobUl ul,
	.mobUl li,
	.mobUl a,
	.formMobile li,
	.formMobile ul,
	.formMobile a {
		list-style: none;
		text-decoration: none;
		text-align: center;
	}
	.ham {
		display: none;
	}
	.prodMob,
	.compMob,
	.combConn {
		color: hsl(237, 17%, 21%);
		font-weight: 700;
	}
	.product {
		display: flex;
		align-content: center;
		flex-direction: column;
	}
	.productDropdownMobile {
		display: none;
		align-content: center;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 30vh;
		height: 20vh;
		margin-top: 1rem;
		margin-bottom: 1rem;
		background-color: hsl(240, 18%, 93%);
		border-radius: 10px;
	}
	.productDropdownMobile li {
		margin-bottom: 5px;
	}
	.productDropdownMobile a,
	.companyDropdownMobile a,
	.connectDropdownMobile a {
		color: hsl(237, 17%, 21%);
	}
	.companyDropdownMobile {
		display: none;
		align-content: center;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 30vh;
		height: 15vh;
		margin-top: 1rem;
		margin-bottom: 1rem;
		background-color: hsl(240, 18%, 93%);
		border-radius: 10px;
	}
	.connectDropdownMobile {
		display: none;
		align-content: center;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 30vh;
		height: 12vh;
		margin-top: 1rem;
		margin-bottom: 1rem;
		background-color: hsl(240, 18%, 93%);
		border-radius: 10px;
	}
	.formMobile {
		display: flex;
		justify-content: center;
		align-content: center;
		width: 100%;
	}
	.formMobile a {
		color: hsl(237, 17%, 21%);
		text-align: center;
	}
	.registerMob {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 20vh;
		height: 7vh;
		background-image: linear-gradient(
			90deg,
			hsl(13, 100%, 72%),
			hsl(353, 100%, 62%)
		);
		border-radius: 50px;
	}
	.ulFormMobile {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: center;
		border-top: 1px solid hsl(240, 18%, 93%);
		width: 90%;
		padding-top: 2rem;
	}
	.ulFormMobile li {
		margin-bottom: 2rem;
	}
}
